<h1 class="title text-center">Cocktails</h1>

 <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-resto text-center">
          <h4><%=cocktail.name.capitalize%></h4>
          <div class="button-container">
            <%= link_to "Details", cocktail_path(cocktail), class: "btn btn-seb" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

